.Item {
    list-style: none;
    z-index: 1;
    /* transition: opacity .3s .4s ease-out; */
}

.Item a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 2px 0 2px 4px;
    box-sizing: border-box;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.Item a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    
    height: 0px;
    width: 0px;
    z-index: -1;
}
.Item a:hover:before {
    height: 1px;
    width: 100%;
}
.Item a.Active:before {
    height: 22%;
    width: 100%;
    margin-bottom: 4px;
}